APP_NAME="Master Microservice"
APP_ENV="local"
PORT=7003
APP_TIMEZONE=UTC
TZ=Asia/Calcutta
 
LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

#Micro Service Transport
AUTH_MICROSERVICE_TRANSPORT=TCP
USER_MICROSERVICE_TRANSPORT=TCP
MASTER_MICROSERVICE_TRANSPORT=TCP

#TCP Ports
AUTH_MICROSERVICE_PORT=7001
USER_MICROSERVICE_PORT=7002
MASTER_MICROSERVICE_PORT=7003

#Kafka brokers
AUTH_MICROSERVICE_BROKER=localhost:28090
USER_MICROSERVICE_BROKER=localhost:28091
MASTER_MICROSERVICE_BROKER=localhost:28092

#KAFKA CONFIG
KAFKAJS_NO_PARTITIONER_WARNING=1

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://apple:@localhost:5432/trxp_master_db?schema=public"